@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    text-transform: none;
    color: rgba(0, 0, 0, 0.75);
}

h1 {
    margin-top: 90px;
    font-size: 36px;
    text-align: center;
    color: #000;
    font-weight: 600;    
    letter-spacing: 1.5px;
}

h2 {
    color: #000;
    font-weight: 600;
}

button {
    all: unset;
    cursor: pointer;
}

.search-box {
    position: relative;
    width: 30px;
    height: 22px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.5s;
}

.search-box.active {
    width: 250px;
}

.search-box .search {
    position: relative;
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.search-box .close {
    position: relative;
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}

.search-box.active .close {
    transform: scale(1);
    transition-delay: 0.3s;
}

.search-box .search-input {
    position: absolute;
    left: 30px;
    width: calc(100% - 60px);
    height: 100%;
    line-height: 22px;
}

.search-box .search-input input {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
}

.fixedspace {
    background-color: #fff;
    width: 100%;
    height: 70px;
}

/* ------ MENU ------ */

.menu {
    background-color: #fff;
    margin-top: -20px;
    width: 100%;
    height: 70px;
    position: fixed;
    text-align: center;
}

ul li {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    display: inline-block;
}

li::after {
    margin-top: 10px;
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: #00678C;
    transition: 300ms;
}

li:hover::after {
    width: 100%;
}

li:hover {
    color: #00678C;
    cursor: pointer;
}

/* ------ SLIDE ------ */

.slider {
    border-radius: 10px;
    margin: 0px auto;
    width: 1170px;
    height: 700px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 700px;
    display: flex;
    background-color: #000;
}

.slides input {
    display: none;
}

.slide {
    position: relative;
    transition: 0s;    
}

@keyframes fade {
    from {opacity: 0.2}
    to {opacity: 1.2}
}
#radio1:checked ~ .first{
    animation: fade 2s linear;
}
#radio2:checked ~ .first2{
    animation: fade 2s linear;
}
#radio3:checked ~ .first3{
    animation: fade 2s linear;
}
#radio4:checked ~ .first4{
    animation: fade 2s linear;
}

.slide img {
    width: 1170px;
    height: 700px;
}

.manual-navigation {
    position: absolute;
    width: 1170px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0px;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 1170px;
    margin-top: 660px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

.new_works {
    text-align: center;
}

/* ------ SOBRE ------ */

.conteudo {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Open Sans, sans-serif;
    text-align: left;
    display: inline-block;
    padding: 40px;
    line-height: 1.8em;
    color: rgba(0, 0, 0, 0.5);
}

.conteudo1 {    
    width: 50%;
    float: left;
}

.conteudo2 {
    width: 50%;
    float: right;
}

article p {
    margin: 0px 25px 50px 30px;
    font-size: 15px;
}

/* ------ ORÇAMENTO ------ */

.contact {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    display: inline-block;
    padding: 70px;
    line-height: 1.8em;
    color: rgba(0, 0, 0, 0.5);    
}

.contact h1 {
    margin-bottom: 50px;
}

.contact h2 {
    margin: 0px 0px 15px 30px;
    font-size: 18px;
}

.contact p {
    margin: 0px 25px 50px 30px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
}

.contacts1 {
    width: 50%;
    float: left;
}

.contacts2 {
    width: 50%;
    float: right;
}

.contact-inp {
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
}

.contact input {
    height: 20px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #b1b1b1;
    width: 100%;
    font-family: inherit;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.contact textarea {
    height: 100px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #b1b1b1;
    width: 100%;
    font-family: inherit;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.contact input::placeholder {
    color: #b1b1b1;
    font-size: 12px;
}

.contact textarea::placeholder {
    color: #b1b1b1;
    font-size: 12px;
}

.contact input:target {
    border-width: 1px;
    border-style: solid;
    border-color: #8c0000;
}

#env-btn {
    width:  calc(100% + 22px);
    border: #00678C;
    height: 45px;
    font-size: 14px;
    background: #00678C;
    color: #fff;
    cursor: pointer;
}

/* ------ WhatsApp Icon ------ */

.whatsapp {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp img {
    width: 80px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
}

/* ------ Footer About ------ */

footer .socials img {
    width: 35px;
    margin: 10px;
    margin-bottom: 30px;
}

footer {
    margin-top: 60px;
    text-align: center;
}

footer h2 {
    font-size: 25px;
    margin: 40px;
}

.assinatura {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px;
    word-spacing: 5px;
    font-family: helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}

footer .heart {
    color: red;
}

footer span {
    font-weight: bolder;
}