body {
    font-family: Dosis,sans-serif;
    text-transform: none;
}

button {
    all: unset;
    cursor: pointer;
}

.search-box {
    position: relative;
    width: 30px;
    height: 22px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.5s;
}

.search-box.active {
    width: 250px; 
}

.search-box .search {
    position: relative;
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.search-box .close {
    position: relative;
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}

.search-box.active .close {
    transform: scale(1);
    transition-delay: 0.3s;
}

.search-box .search-input {
    position: absolute;
    left: 30px;
    width: calc(100% - 60px);
    height: 100%;
    line-height: 22px;    
}

.search-box .search-input input {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
}

.menu {
    height: 60px;
    /*padding: 8px 14px;*/
    position: relative;
    text-align: center;
}

ul li{
    color: #646464;
    font-size: 15px;
    font-weight: lighter;
    padding: 10px 25px;
    display: inline-block;
    border-width: 1px;
}

li::after {
    margin-top: 10px;
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: #00678C;
    transition: 300ms;
}

li:hover::after {
    width: 100%;
  }

li:hover {
    color: #00678C;
    cursor: pointer;
}

/*.slide{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 695px;
    display: flex;
    justify-content: center;
    /*align-items: center;
}*/

.slider {
    margin: 0 auto;
    width: 1170px;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25px;
    position: relative;
}

.slide img {
    width: 1170px;
    height: 600px;
}

.manual-navigation {
    position: absolute;
    width: 1170px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

footer {
    text-align: center;
}

.assinatura {
    color: rgb(73, 70, 70);
    text-align: center;
    font-size: 0.9em;
    padding: 8px;
    word-spacing: 5px;
    font-weight: 600;
}

footer span {
    color: red;
}